* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color:dodgerblue;
  display: flex;
  justify-content:space-around;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:midnightblue;
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
  color: floralwhite;
  margin: 15px;
  padding: 20px;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navBar ul li {
  justify-content: space-between;
}

.hero {
  background-image: url('./assets/cover/hero-image.jpg');
  background-size: cover;
  background-position: 80%;
  padding: 450px 0 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
